@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: white;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.button {
  --chakra-transition-property-common: background-color, border-color, color,
    fill, stroke, opacity, box-shadow, transform;
  --chakra-transition-property-colors: background-color, border-color, color,
    fill, stroke;
  --chakra-transition-property-dimensions: width, height;
  --chakra-transition-property-background: background-color, background-image,
    background-position;
  --chakra-transition-easing-ease-in: cubic-bezier(0.4, 0, 1, 1);
  --chakra-transition-easing-ease-out: cubic-bezier(0, 0, 0.2, 1);
  --chakra-transition-easing-ease-in-out: cubic-bezier(0.4, 0, 0.2, 1);
  --chakra-transition-duration-ultra-fast: 50ms;
  --chakra-transition-duration-faster: 100ms;
  --chakra-transition-duration-fast: 150ms;
  --chakra-transition-duration-normal: 200ms;
  --chakra-transition-duration-slow: 300ms;
  --chakra-transition-duration-slower: 400ms;
  --chakra-transition-duration-ultra-slow: 500ms;
  color-scheme: light;
  font-family: inherit;
  font-size: 100%;
  overflow: visible;
  background: transparent;
  cursor: pointer;
  appearance: none;
  -webkit-box-pack: center;
  user-select: none;
  white-space: nowrap;
  outline: 2px solid transparent;
  outline-offset: 2px;
  line-height: 1.2;
  border-radius: 10px;
  font-weight: var(--chakra-fontWeights-semibold);
  transition-property: var(--chakra-transition-property-common);
  transition-duration: var(--chakra-transition-duration-normal);
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: var(--chakra-colors-primary);
  color: var(--chakra-colors-white);
  border: 1px solid #b20d13;
  box-shadow: inset -3px -3px #b20d13, inset 3px 3px white;
}
.button:hover {
  box-shadow: inset -3px -3px #e52a30, inset 3px 3px #b20d13;
}

.button-drug {
  --chakra-transition-property-common: background-color, border-color, color,
    fill, stroke, opacity, box-shadow, transform;
  --chakra-transition-property-colors: background-color, border-color, color,
    fill, stroke;
  --chakra-transition-property-dimensions: width, height;
  --chakra-transition-property-background: background-color, background-image,
    background-position;
  --chakra-transition-easing-ease-in: cubic-bezier(0.4, 0, 1, 1);
  --chakra-transition-easing-ease-out: cubic-bezier(0, 0, 0.2, 1);
  --chakra-transition-easing-ease-in-out: cubic-bezier(0.4, 0, 0.2, 1);
  --chakra-transition-duration-ultra-fast: 50ms;
  --chakra-transition-duration-faster: 100ms;
  --chakra-transition-duration-fast: 150ms;
  --chakra-transition-duration-normal: 200ms;
  --chakra-transition-duration-slow: 300ms;
  --chakra-transition-duration-slower: 400ms;
  --chakra-transition-duration-ultra-slow: 500ms;
  color-scheme: light;
  font-family: inherit;
  font-size: 100%;
  overflow: visible;
  background: transparent;
  cursor: pointer;
  appearance: none;
  -webkit-box-pack: center;
  user-select: none;
  white-space: nowrap;
  outline: 2px solid transparent;
  outline-offset: 2px;
  line-height: 1.2;
  border-radius: 10px;
  font-weight: var(--chakra-fontWeights-semibold);
  transition-property: var(--chakra-transition-property-common);
  transition-duration: var(--chakra-transition-duration-normal);
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: #e52a30; /* Modified color */
  color: var(--chakra-colors-white);
  border: 1px solid #b20d13;
  box-shadow: inset -3px -3px #b20d13, inset 3px 3px white;
}

.button-drug:hover {
  box-shadow: inset -3px -3px #e52a30, inset 3px 3px #b20d13;
}

.skeleton-card:hover {
  transform: scale(1.05);
}

.desktop-event {
  display: flex;
  width: 500px;
  height: 300px;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  box-shadow: 0px 216px 60px 0px rgba(0, 0, 0, 0%),
    0px 138px 55px 0px rgba(0, 0, 0, 1%), 0px 78px 47px 0px rgba(0, 0, 0, 5%),
    0px 35px 35px 0px rgba(0, 0, 0, 9%), 0px 9px 19px 0px rgba(0, 0, 0, 10%);
}

.text-event {
  flex: 1 1 40%;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
  color: black;
  text-align: center;
}

.event-card {
  opacity: 0;
  transform: scale(0.95);
  animation: fadeIn 0.5s ease forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@media (max-width: 767px) {
  .desktop-event {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    box-shadow: 0px 216px 60px 0px rgba(0, 0, 0, 0%),
      0px 138px 55px 0px rgba(0, 0, 0, 1%), 0px 78px 47px 0px rgba(0, 0, 0, 5%),
      0px 35px 35px 0px rgba(0, 0, 0, 9%), 0px 9px 19px 0px rgba(0, 0, 0, 10%);
    margin: 4rem 0;
  }

  .desktop-event .text-event {
    flex: 1 1 auto;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    color: black;
    text-align: center;
  }
}

.link-event {
  background: #e52a30;
  color: #fff;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-size: 16px;
  padding: 8px 20px 8px 20px;
}

.link-blog {
  background: #e52a30;
  color: #fff;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-size: 20px;
  padding: 16px 32px;
}

.link-login {
  background: #e52a30;
  color: #fff;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-size: 20px;
  padding: 12px;
}

@media (min-width: 1024px) {
  .zoom {
    transition: transform 0.3s ease-in-out;
  }

  .zoom:hover {
    /* transition: transform 0.3s ease-in-out; */
    transform: scale(1.1);
    /* border: 5px solid red; */
  }
}

.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}

